.noteDate {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #807c82;
}

.noteArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 296px !important;
  margin: 0 0.75rem 1rem 0.75rem;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: var(--dark-background) !important;
  color: var(--dark-text) !important;
  padding: 0.3rem;
  height: fit-content;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 44%);
}

.deleteBtn {
  font-size: 1rem;
  cursor: pointer;
}

.noteTextTitle {
  overflow: auto;
  color: var(--dark-text) !important;
  margin-bottom: 5px;
  border: none;
  resize: none;
  font-weight: bold;
  max-height: 75px;
  padding: 0.4rem;
}

.noteTextNote {
  overflow: auto;
  color: var(--dark-text) !important;
  margin-bottom: 3px;
  border: none;
  resize: none;
  font-weight: 400;
  max-height: 150px;
  padding: 0.4rem;
}

.noteText :focus {
  outline: none !important;
}
